body {
  background-image: url("Images/bgshadow.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.custom-container {
  /*height: 100vh;*/
  background-color: rgba(44, 43, 43, 0.75);
}

.tile-container-downloads {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.tile-image-skill {
  padding: 10px;
  max-width: 256px
}

.first-card-group{
  margin-top: 80px;
}

.skill-card-group{
  margin-top: 30px;
 }

.vh{
  height: 95vh;
}

.skill-image{
  max-width: 128px
}

.skill-icon{
  max-width: 24px;
  max-height: 24px
}

@media only screen and (max-width: 1399px){
	.vh{
    height: 100%;
    margin-top: 20px;
  }
}



