body {
  /*background-image: url("Images/bgshadow.jpeg");*/
  background-image: url("../Images/Misc/GroundTile.png");
  background-repeat: repeat;
  background-color: rgb(0, 0, 0);
}

@font-face {
  font-family: myFirstFont;
  src: url("../Fonts/AmaticSC-Bold.ttf");
}
.brand-font{
  font-family: myFirstFont, Times, serif;
}

.ghostygif{
  max-width: 64px;
}

.navbar-custom{
  height: 10vh;
}

.user-image{
  max-width: 200px;
}

.custom-container {
  height: 80vh;
  margin-top: 100px;
}

.skill-tile-background {
  background-color: rgba(255, 255, 255, 1);
}

.tile-container-downloads {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.tile-image-skill {
  padding: 20px;
  max-width: 256px;
}

.first-card-group{
  margin-top: 100px;
}

.skill-card-group{
  margin-top: 10px;
 }

.vh{
  height: 95vh;
}

.skill-image{
  max-width: 128px
}

.skill-icon{
  max-width: 24px;
  max-height: 24px
}

@media only screen and (max-width: 1399px){
	.vh{
    height: 100%;
    margin-top: 20px;
  }
}

.single-skill-tile{
  margin-top: 100px;
}

.tile-border{
  border: 2px solid gray;
  border-radius: 5px;
  
}

.tile-background-color{
  background-color: rgb(182, 222, 173);
}


